.landingcontent{
  justify-content: space-around;
  padding: 10em 20em;
  font-weight: bolder;
  font-size: x-large;
  color: black;
  background-image: url("https://e1.pxfuel.com/desktop-wallpaper/663/740/desktop-wallpaper-beautiful-house-architecture-graphy-houses-fullscreen-modern-houses.jpg");
  background-repeat: repeat;
 }
.home{
  color: white;
  font-size: xx-large;
  
}
.homebutton{
  background-color: blue;
  border-radius: 20px;
  margin-top: 5em;
  justify-content: center;
}
.homebutton:hover{
  background-color: greenyellow;
}
.homecontent{
  color: rgb(138, 218, 11);
}
.nav-brand{
  padding: 10px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  justify-content: space-around;
}
